
.wrapper{
    width: 90%;
    margin: auto;
    overflow: hidden;
}

header{
    width: 90%;
    overflow: hidden;
    background-color: #01E30C;
    height: 160px;
    position: fixed;
}

header .logo{
    float: left;
    position: absolute;
}

header .logo img{
    width: 150px;
    height: 140px;
    padding-left: 20px;
}

h1{
    text-align: center;
    color: white;
}

h2{
    text-align: center;
    color: #ddd;
}

header nav{
    text-align: center;
}

header nav a{
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 0px 10px 0px 10px;
    font-size: 20px;
    font-weight: bold;
    
}

header nav a:hover{
    background: #BF0F07;
    border-radius: 50px;
}

.tabla{
  
    padding: 5px;
    width: 90%;
    margin: auto;
    text-align: justify;
    align-items: center;
    margin-top: 70px;

}

.fila{
    display: table-row;
}

.celda{
    display: table-cell;
    padding: 5px;
}

.tabla .fila .celda img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 1px solid #ddd;
  

}

.tabla .fila .celda p{
background-color: #efefef;
border-radius: 10px;
padding: 10px;
}
.tabla .fila .celda p:hover{
    background-color: #ddd;
    box-shadow: 2px 2px 1px rgb(0, 0, 0,2);


}
.tabla .fila .celda img:hover{
   transform: scale(1.3);


}

/**Estilos pie de pagina*/
.pie-pagina{
    background-color: black;
    width: 90%;
    margin: auto;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-grap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .caja figure{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .caja figure img{
    width: 150px;
    filter: invert(1) sepia(1) hue-rotate(20deg) saturate(100%);
}
.pie-pagina .grupo-1 h2{
   color: white;
   margin-bottom: 25;
   font-size: 20;
}
.pie-pagina .grupo-1 p{
    color: white;
    margin-bottom: 25;
    font-size: 10;
 }

 .pie-pagina .grupo-1 .sociales{
   text-align: center;
 }
 .pie-pagina .grupo-1 .sociales a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0a141d;
    text-align: center;
    transition: all 1ms ease;
    
  }

  .pie-pagina .grupo-1 .sociales a:hover{
    color: aqua;

  }